<span id="welcome-header">
  <h1>Robot World</h1>
</span>

<div class="front-page">
    <div class="fadebutton">
      <a href="/robots">Robot Index</a>
    </div>

    <div class="fadebutton">
      <a href="/robots/new">New Robot</a>
    </div>

  <div id="footer">
    <a href="https://github.com/kravinskylev/robot_world">Check it out on GitHub</a>
  </div>

</div>
