<span id="welcome-header">
  <h1>&nbsp robot Manager</h1>
</span>

<div class="front-page">
    <div class="fadebutton">
      <a href="/robots">robot Index</a>
    </div>

    <div class="fadebutton">
      <a href="/robots/new">New robot</a>
    </div>

  <div id="footer">
    Check it out on <a href="https://github.com/kravinskylev/robot_manager">GitHub</a>
  </div>

</div>
