<div class="index">
  <span class="all-robots">
    <h1>All robots</h1>
  </span>


  <% @robots.each do |robot| %>
      <h3>
        <span class=index-items>
          <a href="/robots/<%= robot.id %>">
            <%= robot.title %>
          </a>
          <a href="/robots/<%= robot.id %>/edit"><img class="edit" src='/edit26.png'></a>
        </span>
      </h3>
  <% end %>

</div>

<div class="front-page">
  <div id="footer">
    Check it out on <a href="https://github.com/kravinskylev/robot_manager">GitHub</a>
  </div>
</div>
