<div class="front-page">

  <form class="pure-form" action="/robots" method="post">
    <p>Enter a new robot:</p>
    <input type='text' class="pure-input-rounded"
      name='robot[title]' placeholder="name"/>

    <br>

    <input name='robot[description]' type='text' class="pure-input-rounded"
    placeholder="description"
    /> <br/>

    <input name='robot[city]' type='text' class="pure-input-rounded"
    placeholder="city"
    /> <br/>

    <input name='robot[state]' type='text' class="pure-input-rounded"
    placeholder="state"
    /> <br/>

    <input name='robot[job]' type='text' class="pure-input-rounded"
    placeholder="job"
    /> <br/>

    <input name='robot[department]' type='text' class="pure-input-rounded"
    placeholder="department"
    /> <br/>

    <br>

    <button type="submit" class="pure-button">Submit</button>
  </form>

  <div id="footer">
    Check it out on <a href="https://github.com/kravinskylev/robot_manager">GitHub</a>
  </div>
</div>
