<div class="front-page">

<a href="/robots">robot Index</a>

<h1><%= @robot.title %></h1>

<p><%= @robot.description %></p>
</div>
<span class="delete">
  <form class="pure-form" action="/robots/<%= @robot.id %>" method="POST">
    <input type="hidden" value="DELETE" name="_method">
    <input class="pure-input-rounded" type="submit" value="delete">
  </form>
</span>
